<!DOCTYPE html>
<html>
<head>
<link rel="stylesheet" href="style.css" />
</head>
<body>
	<div id="disclaimer">
		<p>THIS IS NOT A REAL WEB SHOP; IT IS CREATED AS PART OF MY UNIVERSITY COURSEWORK. PLEASE DO NOT ATTEMPT TO BUY ANYTHING FROM THIS SITE, NOR ENTER YOUR REAL CARD DETAILS.</p>
	</div>

	<div id="page">
		<div id="header">
			<div id="title">
				<h1>CSGames Online Store</h1>
			</div>
		</div>
		<div id="nav">
			<ul>
				<li><a href="file:///home/felix/UNI/cs25010/template/index.html"> Home </a> </li>
				<li><a href="#"> About </a> </li>
				<li><a href="#"> Writeup </a> </li>
			</ul>
		</div>
		<div id="bodyarea">

			<div id="loginForm">
			    <ul>
			        <li><input size="10" type="text" /></li>
			        <li><input size="10" type="password" /></li>
			        <li><input type="submit" value="login" /></li>
			    </ul>
			</div>

			<h1>This is the page title</h1>
						<p>
						researched deployment from version control
			found https://gist.github.com/1809044 (complicated)
			http://net.tutsplus.com/tutorials/other/the-perfect-workflow-with-git-github-and-ssh/ (more simple)
			Decided simply to work on central pushing to github.</p>
			<p>
			researched templating
			found smarty
			looked at using plain php</p>
		</div>
		<div id="footer">
			<small>&copy someone etc.</small>
		</div>
	</div>

</body>
</html>