/*ffe2b3
56493f*/

body {
	background-color: #6d968d;
	font-family: Arial, Helvetica, sans-serif;
}

#page {
	width:90%;
	background-color: #b6ccb8;
	margin:0 auto;
	padding: 0;

}

#page #header {
	position:relative;
	background-color: #1f3642;
	vertical-align: middle;
	height: 80px;
	margin: 0 auto;
	padding: 0;
}

#page #header h1{
	position:absolute;
	top:50%;
	color: #eee;
	height:36px;
	font-size: 2em;
	margin-top: -18px;
}

#page #nav {
	text-align: center;
	color: #888;
}

#page #nav a {
	color:#888;
}

#page #nav a:hover {
	color:#666;
}


